<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CodeCamp</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
    <link rel="stylesheet" href="css/styles.css">
</head>

<body>
    <div class="container">
        <aside class="leftbar sidebar">
            <ul>
                <li><a href="#"><i class="fas fa-chevron-right"></i> <span>Intro to Web Dev</span></a></li>
                <li><a href="#"><i class="fas fa-chevron-right"></i> <span>Intro to Web Dev</span></a></li>
                <li><a href="#"><i class="fas fa-chevron-right"></i> <span>Intro to Web Dev</span></a></li>
            </ul>
        </aside>
        <main>
            <%- body %>
        </main>
        <aside class="rightbar sidebar">
            <ul>
                <li>On this page</li>
                <hr>
                <li><a href="#the-internet"><span>The Internet</span></a></li>
                <li><a href="#the-web"><span>The Web</span></a></li>
                <li><a href="#the-request/response-cycle"><span>Request/Response cycle</span></a></li>
                <li><a href="#front-end-and-back-end"><span>Front-End and Back-End</span></a></li>
            </ul>
        </aside>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"
        integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/"
        crossorigin="anonymous"></script>
</body>

</html>